<div class="header-container">
  <div class="lists">
    <div class="header-title">
      <h1>Pila</h1>
    </div>
    <ul>
      <li><a href="/mypage">MyPage</a></li>
      <li><a href="/signup">SignUp</a></li>
      <li><a href="/login">LogIn</a></li>

      <!-- <li><a href="#">MyPage</a></li>
      <li><a href="#">LogOut</a></li> -->

    </ul>
  </div>
</div>

