<div class="hero">
  <!-- Slider main container -->
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <div class="hero__title">
        Pila
        <div class="hero__title txt1">Pilaは、イタリア語で積み重ねという意味です。</div>
        <div class="hero__title txt2">日々の積み重ねで理想の身体を手に入れよう！！</div>
      </div>
      <!-- Slides -->
      <div class="swiper-slide">
        <img src="images/image3.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/image2.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/image1.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/image4.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/image5.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img src="images/image6.jpg" alt="">
      </div>
    </div>
    <div class="hero__footer">
      <img class="hero__downarrow" src="images/arrow.svg" alt="">
      <span class="hero__scrolltext">scroll</span>
    </div>
  </div>
</div>