
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/vendors/bootstrap-reboot.css" />
  <link rel="stylesheet" href="/vendors/swiper.min.css" />
  <link rel="stylesheet" href="/style.css">

  <title>Document</title>
</head>
<body>
  <div class="header">
    <%- include('modules/header'); %>
  </div>

  <!-- <div>運動 ✖︎ 栄養 ✖︎ 管理</div> -->

  <div class="mypage-container">
    <div class="side-bar">
      <ul class="list">
        <li class="lists slide-bg">
          <a class="button" href="/">&nbsp;&nbsp;&nbsp;一覧ページ</a>
        </li>
        <li class="lists slide-bg">
          <a href="#">&nbsp;&nbsp;&nbsp;記録</a>
        </li>
        <li class="lists slide-bg">
          <a href="#">&nbsp;&nbsp;&nbsp;スコアグラフ</a>
        </li>
      </ul>

    </div>

    <div class="main-bar">
      <div class="main-bar__memo">
        <div class="main-bar__memo__memos cover-3d">
          <a href="/">
            <div class="memo">
              <div class="memo__left">
                <div class="memo__left__course">
                  コース名：三好カントリー倶楽部
                </div>
                <div class="memo__left__score">
                  スコア：100
                </div>
              </div>
              <p class="memo__right">日付：2021-02-11</p>
            </div>
          </a>
        </div>
        <div class="main-bar__memo__memos cover-3d">
          <a href="/">
            <div class="memo">
              <div class="memo__left">
                <div class="memo__left__course">
                  コース名：三好カントリー倶楽部
                </div>
                <div class="memo__left__score">
                  スコア：100
                </div>
              </div>
              <p class="memo__right">日付：2021-02-11</p>
            </div>
          </a>
        </div>
        <div class="main-bar__memo__memos cover-3d">
          <a href="/">
            <div class="memo">
              <div class="memo__left">
                <div class="memo__left__course">
                  コース名：三好カントリー倶楽部
                </div>
                <div class="memo__left__score">
                  スコア：100
                </div>
              </div>
              <p class="memo__right">日付：2021-02-11</p>
            </div>
          </a>
        </div>
        <div class="main-bar__memo__memos cover-3d">
          <a href="/">
            <div class="memo">
              <div class="memo__left">
                <div class="memo__left__course">
                  コース名：三好カントリー倶楽部
                </div>
                <div class="memo__left__score">
                  スコア：100
                </div>
              </div>
              <p class="memo__right">日付：2021-02-11</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  

  <script src="scripts/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <!-- <script src="scripts/chart.js"></script> -->
</body>
</html>



