<div class="chart-container">
  <div class="chart-container__header">
    スコアグラフ
  </div>
  <div class="chart-container__result">
    <table class="table table-bordered">
      <thead>
        <tr class="table-success">
          <th scope="col">MAX</th>
          <th scope="col">MIN</th>
          <th scope="col">AVG</th>
        </tr>
      </thead>
        <tbody class="table">
          <tr>
            <td>150</td>
            <td>100</td>
            <td>125</td>
          </tr>
        </tbody>
    </table>
  </div>
  <div class="chart-container__chart">
    <canvas id="myChart"></canvas>
  </div>
</div>