<div class="record-container">
  <!-- <div class="record-container__header">
    記録
  </div> -->
  <div class="record-container__main">
    <div class="panel card">
      <div class="card-header header ">記録</div>
      <div class="card-body">
        <form>
          <div class="form-group">
            <label class="label">コース名</label>
            <input class="form-control" required="必須" type="text" placeholder="コース名を入力して下さい。">
            <label class="label">スコア</label>
            <input class="form-control" required="必須" type="text" placeholder="スコアを入力して下さい。">
            <label class="label">日付</label>
            <input class="form-control" required="必須" name="data" type="date" placeholder="日付を入力して下さい。">
            <div class="record-button">
              <button class="btn btn-outline-success btn-lg" type="submit" >submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

  </div>
</div>