<div class="side-bar">
  <ul class="list">
    <li class="lists slide-bg">
      <a class="button" href="/">&nbsp;&nbsp;&nbsp;TOP</a>
    </li>
    <li class="lists slide-bg">
      <a class="button" href="/mypage">&nbsp;&nbsp;&nbsp;一覧ページ</a>
    </li>
    <li class="lists slide-bg">
      <a href="/chart">&nbsp;&nbsp;&nbsp;スコアグラフ</a>
    </li>
    <li class="lists slide-bg">
      <a href="#">&nbsp;&nbsp;&nbsp;記録</a>
    </li>
  </ul>
</div>